{% extends 'base.html.twig' %}

{% block title %}FileCategory{% endblock %}

{% block body %}
    <h1>{{ file_category.title }}</h1>
    <div class="info">
        {{ file_category.description }}
    </div>

    <div class="row gap-2">
        {% for file in file_category.files %}
            <div class="card text-bg-dark col-3">
                <div class="card-header">
                    <a href="{{ path('app_file_show', {'id': file.id}) }}">
                        {{ file.name[:30] }}...
                    </a>
                    {% if file.uploadedBy %}
                        <p class="fst-italic">
                            uploadé par {{ file.uploadedBy.userName }}
                        </p>
                    {% endif %}
                </div>
                {% if file.extension == 'jpg' or file.extension == 'png' or file.extension == 'gif' %}
                    <div class="card-body">
                        <img class="img-thumbnail" src="{{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }}" alt="{{ file.name }}" width="100%">
                    </div>
                {% endif %}
                {% if file.extension == 'mp4' or file.extension == 'avi' or file.extension == 'mpg' %}
                    <div class="card-body">
                        <video class="img-thumbnail" controls="true" muted="true" src="{{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }}" alt="{{ file.name }}"></video>
                    </div>
                {% endif %}
                {% if file.extension == 'pdf' %}
                    <object type="application/pdf" height="100%" data={{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }} >
                    </object>

                {% endif %}
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_file_category_index') }}">back to list</a>

    <a href="{{ path('app_file_category_edit', {'id': file_category.id}) }}">edit</a>

    {{ include('file_category/_delete_form.html.twig') }}
{% endblock %}
