{% extends 'base.html.twig' %}

{% block title %}File{% endblock %}

{% block body %}
    <h1>{{ file.name }}</h1>
    <div class="row gap-4">
        <div class="card text-bg-dark col-8">
            {{ file.category.path }}
            {% if file.extension == 'jpg' or file.extension == 'png' or file.extension == 'gif' %}
                <div class="card-body">
                    <img class="img-thumbnail" src="{{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }}" alt="{{ file.name }}">
                </div>
            {% endif %}
            {% if file.extension == 'mp4' or file.extension == 'avi' or file.extension == 'mpg' %}
                <div class="card-body">
                    <video class="img-thumbnail" controls="true" autoplay="true" muted="true" src="{{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }}" alt="{{ file.name }}"></video>
                </div>
            {% endif %}
            {% if file.extension == 'pdf' %}
                <object type="application/pdf" height="550" data={{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }} >
                </object>

            {% endif %}
        </div>
        <div class="card text-bg-dark col-3">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ file.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>
                        <a href="{{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }}" download>
                            {{ file.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Télécharger</th>
                    <td>
                        <a href="{{ asset('uploads/files/' ~ file.category.path ~ '/' ~file.url) }}" download>
                                {{ file.name }}
                        </a>
                    </td>
                </tr>
                {% if file.uploadedBy %}
                    <tr>
                        <th>Uploadé par</th>
                        <td>
                            {{ file.uploadedBy.userName }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>



    <a href="{{ path('app_file_index') }}">back to list</a>

    <a href="{{ path('app_file_edit', {'id': file.id}) }}">edit</a>

    {{ include('file/_delete_form.html.twig') }}
{% endblock %}
