{% extends 'base.html.twig' %}

{% block title %}PostCategory index{% endblock %}

{% block body %}
    <h1>Catégories d'articles</h1>
    <div class="row gap-2">
        {% for category in post_categories %}
            <div id="post-card" class="card text-bg-dark col-3git add .
             mt-4">
                <a href="{{ path('app_post_category_show', {'id': category.id}) }}">
                    <img id="article-header" src="{{ asset('uploads/files/' ~ category.featuredImg.category.path ~ '/' ~category.featuredImg.url) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.title }}</h5>
                        <p class="card-text">{{ category.description | raw }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


    <a href="{{ path('app_post_category_new') }}">Create new</a>
{% endblock %}
