{% extends 'base.html.twig' %}

{% block title %}PostCategory{% endblock %}

{% block body %}
    <h1>{{ post_category.title }}</h1>
    <div class="row">
        <div class="col-6">
            {% if post_category.description %}
                <p class="fst-italic">
                    {{ post_category.description }}
                </p>
            {% endif %}
        </div>
        <div class="">
            {% if post_category.featuredImg %}
                <img height="200" src="{{ asset('uploads/files/' ~ post_category.featuredImg.category.path ~ '/' ~ post_category.featuredImg.url) }}" alt="">
            {% endif %}
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-info">
            <a href="{{ path('app_post_new', {'category': post_category.id}) }}">Nouvel article</a>
        </button>
    </p>
    <hr>
    <div class="row gap-3">
        <h2>Articles</h2>
        {% for post in post_category.posts %}
            <div class="card text-bg-dark col-3">
                <div class="card-body">
                    <h2 class="card-title">
                        <a href="{{ path('app_post_show', {'id': post.id}) }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <hr>

                    {% if post.featuredImg %}
                        <img id="article-header" class="img-fluid" src="{{ asset('uploads/files/' ~ post.featuredImg.category.path ~ '/' ~post.featuredImg.url) }}" alt="">
                    {% endif %}

                </div>
                <div class="card-footer">
                    <p>
                        créé le: {{ post.createdAt | date('d-m-Y à H:i') }}

                    {% if post.author %}
                        <br>
                        par:
                        <a href="{{ path('app_user_show', {'id': post.author.id}) }}">
                            {{ post.author.userName }}
                        </a>

                    {% endif %}
                    </p>
                    {% if post.updatedAt %}
                         mis à jour le {{ post.updatedAt | date('d-m-Y à H:i') }}
                    {% endif %}
                    {% if post.files %}
                        <ul>
                            {% for file in post.files %}
                                <li>
                                    <a href="{{ path('app_file_show', {'id': file.id}) }}">
                                        {{ file.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}


    </div>

    <hr>

    <a href="{{ path('app_post_category_index') }}">
        <button class="btn btn-info">
            Retour catégories
        </button>
    </a>

    <a href="{{ path('app_post_category_edit', {'id': post_category.id}) }}">
        <button class="btn btn-info">
            Éditer
        </button>
    </a>

    <hr>
    {{ include('post_category/_delete_form.html.twig') }}
    <hr>
{% endblock %}
